<ion-content >
    <div  class="ion-padding">
      <ion-grid >
        <ion-row>
          <ion-col>
            <div></div>
          </ion-col>
          <ion-col style="padding-top: 20%">
            <h1 style="text-align: center">ForYou</h1>
            <div></div>
            <ion-text style="text-align: center" color="dark">
              </ion-text>
            <div><p>
              We're finding bests for you
            </p></div> </ion-col>
          <ion-col>
            <div></div>
          </ion-col>
        </ion-row>
        <div class="buttons">
        <ion-button [routerLink]="['/login']" expand="full">Sign In</ion-button>
        <ion-button [routerLink]="['/register']" expand="full">Sign Up</ion-button>
      </div>
      </ion-grid>
    </div>
</ion-content>
